:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424; /* Cor do fundo da página */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Garantir que o conteúdo seja empilhado verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424; /* Cor do fundo da página */
  color: rgba(243, 246, 247, 0.87); /* Cor do texto padrão */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff; /* Cor do título */
  text-align: center; /* Centraliza o título */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

h2 {
  font-size: 1.5em;
  color: #ffffff; /* Cor do subtítulo */
  margin: 40px 0; /* Adiciona margem acima e abaixo do subtítulo */
  text-align: center; /* Centraliza o subtítulo */
}

h3 {
  margin: 0; /* Remove a margem padrão do título */
  font-size: 1.5em;
  color: #0e0e0e; /* Cor do subtítulo */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff; /* Cor do texto do botão */
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Classe para a grade de imagens */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivo para ajustar o número de colunas conforme o tamanho da tela */
  gap: 20px; /* Espaço entre as imagens */
  padding: 20px;
  width: 100%; /* Garante que a grade ocupe toda a largura disponível */
  max-width: 1200px; /* Limita a largura máxima da grade */
}

.image-card {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%; /* Ajusta a imagem para ocupar a largura total do card */
  height: 100%; /* Ajusta a imagem para ocupar a altura total do card */
  object-fit: cover; /* Garante que a imagem cubra totalmente o card sem distorção */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.image-card img:hover {
  transform: scale(1.05); /* Aumenta ligeiramente a imagem ao passar o mouse */
}
